.battle-pass-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 0px;
    height: 17vh;
    width: 50vw;
    margin-top: 10vh;
}

.battle-pass-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battle-pass-node {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
  flex-shrink: 0;
  z-index: 1;
  
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.battle-pass-node.completed {
  background-color: rgb(196, 166, 0);
}

.battle-pass-node.final {
  width: 65px;
  height: 65px;
  font-size: 1.2rem;
}

.battle-pass-node.middle {
  width: 55px;
  height: 55px;
  font-size: 1.2rem;
}

.battle-pass-node:hover {
  transform: scale(2);
  z-index: 2;
}

.reward-preview {
  position: absolute;
  top: -80px;
  display: none;
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid #999;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 4px;
}

.reward-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.battle-pass-wrapper:hover .reward-preview {
  display: block;
}

.battle-pass-bar {
  width: 2vw;
  height: 0.5vh;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  flex-shrink: 0;
  transition: background-color 0.3s;
}

.battle-pass-bar.completed {
  background-color: rgb(196, 166, 0);
}


/* Estilos móviles */
@media (max-width: 435px) {
  .battle-pass-container {
    gap: 6px;
    overflow-x: auto;
    justify-content: flex-start;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
  }

  .battle-pass-node {
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
  }
    .battle-pass-node.middle {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }
  .battle-pass-node.final {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .battle-pass-node:hover {
    transform: scale(1.3);
  }

  .reward-preview {
    top: -70px;
    width: 60px;
    height: 60px;
    padding: 2px;
  }

  .battle-pass-bar {
    width: 0px;
    height: 0px;
  }
}
