.maps-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
  display: flex;
  flex-direction: column;
}

.maps-wrapper h2 {
  margin: 0 0 10px 0;
}

.maps-grid {
  flex: 1;
  padding: 0 10px;
  overflow-y: scroll;
  scrollbar-width: none;
   -ms-overflow-style: none;
  display: flex;
  flex-direction: column; /* Cambia a columna para stackear verticalmente */
  gap: 15px;
  padding-right: 10px; /* espacio para el scrollbar */
}

.maps-grid::-webkit-scrollbar {
  width: 0px;
}


.mapa-card {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  
  border: 3px solid rgba(0, 131, 9, 0.267);
}

.mapa-card:hover {
    color: rgb(24, 91, 0);
  background-color: #dcdcdca8;
}

.mapa-card.disabled {
  opacity: 0.4;
  pointer-events: none;
    background-color: rgba(255, 255, 255, 0.05);
  border: 3px solid rgba(255, 0, 0, 0.267);
  cursor: not-allowed;
}


@media (max-width: 435px) {
  .maps-wrapper {
    padding: 12px;
    border-radius: 8px;
      border: 0px transparent;
      box-shadow: transparent;
      background-color: transparent;
  }

  .maps-wrapper h2 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 12px;
  }

  .maps-grid {
    gap: 10px;
    padding: 0;
  }

  .mapa-card {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-width: 2px;
    border-radius: 8px;
  }



  .mapa-card.disabled {
    font-size: 0.95rem;
    opacity: 0.5;
    border-width: 2px;
  }

}
