.user-container {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 25vw;
  min-height: 50vh;
  margin: 2rem auto;
  transition: transform 0.3s ease;
}


.user-container:hover {
  transform: scale(1.02);
}

.user-avatar {
  top: 40px;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #3e7148;
}

.user-nick {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  font-family: 'Georgia', serif;
  color: #a8eec1;
}

.user-name {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-family: 'Georgia', serif;
  color: #a8eec1;
}

.user-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}


@media (max-width: 435px) {
  .user-container {
    padding: 1.5rem;
    max-width: 90%;
  }

  .user-avatar {
    width: 80px;
    height: 80px;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .user-info p {
    font-size: 0.85rem;
  }
}
